hr{
    margin: 1.2rem 0;
    width: 100%;
}

.pagina-cursos-e-formacoes{
    padding: 1rem;
    h1:not(:first-child){
        margin-top: 5rem;
    }
}

/* Tablet */
@media (min-width:768px) and (orientation: portrait){
    .pagina-cursos-e-formacoes{
        h1:not(:first-child){
            margin-top: 2rem;
        }
    }
}

/* Notebook */
@media (min-width:1024px) and (orientation: landscape){
    .pagina-cursos-e-formacoes{
        margin: calc(4vh + var(--navbar-min-height)) 25vw 4vh;
    }
}