hr{
    margin: 1.2rem 0;
    width: 100%;
}

.pagina-cursos-e-formacoes{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    h1{
        align-self: flex-start;
    }
    h1:not(:first-child){
        margin-top: 5rem;
    }
    h2{
        font-size: 1.8rem;
    }
    hr:not(
        :nth-of-type(1),
        :nth-of-type(2),
        :nth-of-type(3)
    ){
        width:80%
    }
    #mobile{
        width: 100%;
    }
    #desktop{
        display:none;
        width: 100%;
        gap:15px;
        grid-template-columns: 1fr 1fr;
        :last-child:nth-child(odd){
            grid-column: span 2;
            justify-self: center;
            width: calc(50% - 5px)
        }
    }
}

.proficiency-section{
    align-self: center;
    width: 80%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
}
.proficiency-section-legend{
    text-align: left;
    width: 70%;
    &:not(:last-of-type){
        margin-bottom: 1rem;
    }
}




/* Tablet */
@media (min-width:768px) and (orientation: portrait){
    .pagina-cursos-e-formacoes{
        h1:not(:first-child){
            margin-top: 2rem;
        }
    }
    .proficiency-section{
        grid-template-columns: repeat(2,1fr);
    }
    .proficiency-section-legend{
        text-align: center;
    }
}

/* Notebook */
@media (min-width:1024px) and (orientation: landscape){
    .pagina-cursos-e-formacoes{
        margin: calc(4vh + var(--navbar-min-height)) 25vw 4vh;
        #mobile{
            display: none !important;
        }
        #desktop{
            display: grid;
        }
    }
    .proficiency-section{
        grid-template-columns: repeat(2,1fr);
    }
    .proficiency-section-legend{
        text-align: center;
    }
}

/* 1440p (2K) */
@media (min-width:2560px) and (orientation: landscape){
    .proficiency-section{
        grid-template-columns: repeat(3,1fr);
        gap: 15px;
    }
}

/* 2160p (4K) */
@media (min-width:3840px) and (orientation: landscape){
    .proficiency-section{
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
    }
}