#desc-title{
    font-weight: normal;
    align-self: center;
}

.text-animate{
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    85%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.title{
    align-self: center;
    text-align: center;
}

#home-division-bar{
    align-self: center;
    width: 90%; /*50% pc*/
    margin: 1.5rem 0;
}

#home-social-container{
    align-self: center;
    display: flex;
    flex-direction: row;
    gap:.5rem;
    font-size: 4rem;
    a{
        color: var(--border-dark-transp);
        transition: all .2s ease-in-out;
        filter: drop-shadow(rgba(0,0,0,0.3) 2px 2px 3px);
        text-decoration: none;
        line-height: 1;
    }
    a:hover, a:focus{
        transform: translateY(-.2rem);
    }
    a:visited{
        color: var(--border-dark-transp);
    }
    #linkedin:hover,#linkedin:focus{
        color: #0a66c2;
    }
    #github:hover,#github:focus{
        color: #151b23;
    }
    #instagram:hover svg,#instagram:focus svg{
        fill: url(#instagram-gradient)
    }
    #email:hover, #email:focus{
        color: var(--border-light);
    }

}

#email-notification{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 15%;
    padding: 1rem;

    gap: 1rem;
    align-items: center;
    justify-content: center;
    
    border: var(--border-light) 2px solid;
    border-radius: 1rem;
    backdrop-filter: blur(56px);
    background-color: var(--border-dark);
    font-size: 2rem;
    line-height: 1.25;
    p{
        text-align: left;
        align-self: center;
        justify-self: center;
        text-indent: 0;
        margin: 0;
    }
    &:open{
        display: flex;
    }
}