#desc-title{
    font-weight: normal;
    align-self: center;
}

.text-animate{
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    85%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.title{
    align-self: center;
    text-align: center;
}

#home-division-bar{
    align-self: center;
    width: 90%; /*50% pc*/
    margin: 1.5rem 0;
}

#home-social-container{
    align-self: center;
    display: flex;
    flex-direction: row;
    gap:.5rem;
    font-size: 4rem;
    a{
        color: var(--border-dark-transp);
        transition: all .2s ease-in-out;
        filter: drop-shadow(rgba(0,0,0,0.3) 2px 2px 3px);
        text-decoration: none;
        line-height: 1;
    }
    a:hover, a:focus{
        transform: translateY(-.2rem);
    }
    a:visited{
        color: var(--border-dark-transp);
    }
    #linkedin:hover,#linkedin:focus{
        color: #0a66c2;
    }
    #github:hover,#github:focus{
        color: #151b23;
    }
    #instagram:hover svg,#instagram:focus svg{
        fill: url(#instagram-gradient)
    }
    #email:hover, #email:focus{
        color: var(--border-light);
    }

}

#email-notification{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 15%;
    padding: 1rem;

    gap: 1rem;
    align-items: center;
    justify-content: center;
    
    border: var(--border-light) 2px solid;
    border-radius: 1rem;
    background-color: var(--border-dark);
    font-size: 2rem;
    line-height: 1.25;
    overflow:hidden;
    &::backdrop{
        transition: all .2s ease-in-out;
        backdrop-filter: blur(4px);
    }
    p{
        text-align: left;
        align-self: center;
        justify-self: center;
        text-indent: 0;
        margin: 0;
    }
    &:open{
        display: flex;
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
        height: .5vh;
        background-color: var(--text-light-1);
        width:100%;
        animation: charge-bar 2.85s linear forwards;
    }
}

@keyframes charge-bar{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}
.pagina-home{
    margin-bottom: 25vh;
}

/* Celular Médio */
@media (min-width:410px) and (orientation: portrait){
    .pagina-home{
      padding: 5vw;
      margin-bottom: 40vh;
    }
}

/* Tablet */
@media (min-width:768px) and (orientation: portrait){
    #email-notification{
        width: 50%;
        height: 10%;
        top:20%;
    }
}

/* iPadPro */
@media (min-width:1024px) and (orientation: portrait){
    #email-notification{
        width: 40%;
        height: 8%;
        top:20%;
    }
    .pagina-home{
        margin: calc(4vh + var(--navbar-min-height)) 10vw 45vh;
    }
}

/* Notebook */
@media (min-width:1024px) and (orientation: landscape){
    #email-notification{
        top:10%;
        height: 10%;
        width: 20%;
    }
    .pagina-home{
        margin: calc(4vh + var(--navbar-min-height)) 20vw 45vh;
    }
}

@media (min-width:1920px) and (orientation:landscape){
    .pagina-home{
        margin: calc(4vh + var(--navbar-min-height)) 25vw 50vh;
    }
}

/* 1440p (2K) */
@media (min-width:2560px) and (orientation: landscape){
    #email-notification{
        height: 8%;
        width: 15%;
    }
}

/* 2160p (4K) */
@media (min-width:3840px) and (orientation: landscape){}