.embla{
  --slide-size: 100%;
  --slide-spacing: 10px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  button{
    position: absolute;
    bottom: -3.5rem;
    display:none;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--border-dark);
    border: none;
    border-radius: 50%;
  }
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left:calc(var(--slide-spacing) * -1) ;
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  min-height: 100%;
  padding-left: var(--slide-spacing) !important;
}

.embla__prev{
    left:-0.5rem;
}

.embla__next{
    right:-0.5rem;
}

.embla__dots{
  min-width:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  gap:2px;
  .embla__dot{
    display:flex;
    position: relative;

    width: 1rem;
    height: 1rem;
  }
  .embla__dot--selected{
    display:flex;
    position: relative;
    background-color: var(--accent-light);
    width: 1rem;
    height: 1rem;
    &::after{
      content: '';
      position: absolute;
      background-color: black;
      top:50%; left:50%;
      transform: translate(-50%,-50%);
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
    }
  }
}

/* LightMode */
@media (prefers-color-scheme: light){
  .embla>button{
    color: var(--text-light-1);
  }
  .embla__dots>.embla__dot--selected::after{
    background-color: var(--lm-bg-dark-white);
  }
}

/* Tablet */
@media (min-width:768px) and (orientation: portrait){
  .embla{
    --slide-size:99%;
    button{
      bottom:50%;
      transform: translateY(50%);
    }
  }
  .embla__viewport{
    width: 80%;
  }
  .embla__dots{
    bottom:-1rem;
  }
}

/* Notebook */
@media (min-width:1024px) and (orientation: landscape){
  .embla{
    --slide-size:99%;
    width: 80%;
    button{
      bottom:50%;
      transform: translateY(50%);
      opacity:0;
      transition: all .2s ease-in-out;
    }
    button{
      display: flex;
    }
    button:hover{
      background-color: var(--accent-light);
      cursor: pointer;
    }
    &:hover{
      button{
        opacity: 1;
      }
    }
  }
  .embla__viewport{
    width: 80%;
  }
  .embla__dots{
    bottom:-1rem;
  }
}