footer{
    --footer-font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 8vh;
    background-color: var(--border-dark);
    color:var(--text-light-1);
    font-size: var(--footer-font-size);
    line-height: 1.25;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 0;
    p{
        margin: 0;
        padding: 0;
        font-size: var(--footer-font-size);
        text-indent: 0;
    }
    #footer-first-line{
        font-weight: bold;
        display: flex;
        gap: 2px;
        align-items: center;
    }
}

@media (min-width:1024px) and (orientation: landscape){
    footer{
        height: 4vh;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Notebook */
@media (min-width:1024px) and (orientation: landscape){
    footer{
        --footer-font-size:0.9rem;
    }
}

/* 1440p (2K) */
@media (min-width:2560px) and (orientation: landscape){
    footer{
        --footer-font-size:1.1rem;
    }
}
