.card{
    background-color:#ddd;
    color: #444;

    padding: 2rem;
    max-width: 20vw;
    border-radius: 1.5rem;
    margin-bottom: 0.8rem;

    font-size: 0.9rem;
    filter:drop-shadow(rgba(0,0,0,0.4) 0px 4px 4px);
    h5{
        font-size: 1.2rem;
    }

}