.card{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.1);

    padding: 1rem;
    width: 100%;
    height: 100%;
    border: 2px solid var(--border-medium);
    border-radius: 1.5rem;

    font-size: 0.9rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
        text-align: center;
        font-size: 1.2rem;
    }
    h3, p{
        filter: drop-shadow(rgba(0,0,0,.5) 0px 4px 4px);
    }
    p{
        text-indent: 0;
        margin: 0;
    }
}
/* LightMode */
@media (prefers-color-scheme: light){
    .card{
        background-color: rgba(150, 150, 150, .15);
        h3,p{
            filter: drop-shadow(rgba(0,0,0,.2) 2px 2px 4px);
        }
    }
}