@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./colors.css);
:root {
  font-family: Montserrat, sans-serif, system-ui;
  line-height: 1.5;
  font-weight: normal;
  font-size: 16px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  /* border: 2px solid red; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* display: flex;
  place-items: start center; */
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  width: .25rem;
}
body::-webkit-scrollbar:hover{
  width: .5rem;
}

body::-webkit-scrollbar-track{
  background: var(--lm-text-dark-2);
  border-radius: .5rem;
}

body::-webkit-scrollbar-thumb{
  background-color: var(--border-dark-transp);
  border-radius: .5rem;
}
body::-webkit-scrollbar-thumb:hover{
  background-color: var(--border-light);
}

main{
  flex-grow: 1;
  margin: calc(4vh + var(--navbar-min-height)) 5vw 4vh;
  padding: 1vw;
  background-color: rgba(0,0,0,.2);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}

hr{
  border-color: var(--text-light-2);
  border-style: solid;
}

/* LightMode */
@media (prefers-color-scheme: light){
  main{
    background-color: rgba(200,200,200,.2);
  }
  hr{
    border-color: var(--lm-text-dark-1);
  }
}

/* Celular Médio */
@media (min-width:410px) and (orientation: portrait){
}

/* Tablet */
@media (min-width:768px) and (orientation: portrait){
  :root{
    font-size: 20px;
  }
}

/* Notebook */
@media (min-width:1024px) and (orientation: landscape){
  :root{
    font-size: 16px;
  }
}

/* 1080p */
@media (min-width:1920px) and (orientation: landscape){
  :root{
    font-size: 18px;
  }
}

/* 1440p (2K) */
@media (min-width:2560px) and (orientation: landscape){
  :root{
    font-size: 20px;
  }
}

/* 2160p (4K) */
@media (min-width:3840px) and (orientation: landscape){
  :root{
    font-size: 32px;
  }
}