@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./colors.css);
:root {
  font-family: Montserrat, sans-serif, system-ui;
  line-height: 1.5;
  font-weight: normal;
  font-size: 16px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  /* border: 2px solid red; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* display: flex;
  place-items: start center; */
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  background: var(--bg-dark-gray);
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background-color: var(--border-dark);
  border-radius: .5rem;

}

main{
  flex-grow: 1;
  padding: calc(4vh + var(--navbar-min-height)) 5vw 0;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Celular Médio */
@media (min-width:410px) and (orientation: portrait){
    
}

/* Tablet */
@media (min-width:768px) and (orientation: portrait){
  :root{
    font-size: 20px;
  }
  main{
    padding: calc(4vh + var(--navbar-min-height)) 10vw 0;
  }
}

/* Notebook */
@media (min-width:1024px) and (orientation: landscape){
  :root{
    font-size: 16px;
  }
  main{
    padding: calc(4vh + var(--navbar-min-height)) 20vw 0;
  }
}

/* 1080p */
@media (min-width:1920px) and (orientation: landscape){
  :root{
    font-size: 18px;
  }
  main{
    padding: calc(4vh + var(--navbar-min-height)) 25vw 0;
  }
}

/* 1440p (2K) */
@media (min-width:2560px) and (orientation: landscape){
  :root{
    font-size: 20px;
  }
}

/* 2160p (4K) */
@media (min-width:3840px) and (orientation: landscape){
  :root{
    font-size: 28px;
  }
}