#home{
    justify-self: center;

    background-color: var(--primary);
    width: 3rem;
    height:3rem;

    border: 2px solid white;
    border-radius: 0.5rem;
    
    display: flex;
    margin: 4vh auto 0;
    justify-content: center;
    align-items: center;
    
    color: white;
    font-size: 2rem;
    line-height: 1;

    filter: drop-shadow(rgba(0,0,0,0.8) 2px 2px 3px);
    transition: all .25s ;
    a{
        color: inherit;
        line-height: inherit;
        text-decoration: none;
    }
}
#home:hover{
    /* Construir algo */
}
#not-found-title{
    text-align: center;
}