#home{
    justify-self: center;

    background-color: var(--border-dark);
    width: 3rem;
    height:3rem;

    border: 2px solid var(--border-light);
    border-radius: 0.5rem;
    
    display: flex;
    margin: 4vh auto 0;
    justify-content: center;
    align-items: center;
    
    color: rgba(255,255,255,0.8);
    font-size: 2rem;
    line-height: 1;

    filter: drop-shadow(rgba(0,0,0,0.8) 2px 2px 3px);
    transition: all .25s ;
    a{
        color: inherit;
        line-height: inherit;
        text-decoration: none;
    }
    &:hover{
        color: rgba(255,255,255,1);
        background-color: var(--border-medium);
        border-color: var(--accent-light);
        transform: translateY(-.2rem);
    }
}
#not-found-title{
    text-align: center;
}
.pagina-not-found{
    padding: 1rem;
    margin-bottom: 40vh;
}

/* Tablet */
@media (min-width:768px) and (orientation: portrait){
    #not-found-title{
        align-self: center;
    }
    .pagina-not-found{
        margin: calc(4vh + var(--navbar-min-height)) 10vw 55vh;
    }
}

/* Notebook */
@media (min-width:1024px) and (orientation: landscape){
    #not-found-title{
        align-self: center;
    }
    .pagina-not-found{
        padding: 2rem;
        margin: calc(4vh + var(--navbar-min-height)) 20vw 45vh;
    }
}
